@import '../../../node_modules/bootstrap/scss/_mixins.scss';
@import '../../../node_modules/bootstrap/scss/_variables.scss';
@import '../../../node_modules/bootstrap/scss/utilities/_borders.scss';
@import '../../../node_modules/bootstrap/scss/utilities/_spacing.scss';

div.readme {
	margin-top: 1.5rem;
}

h2 {
	width: 100%;
	font-size: $font-size-h6;
	font-weight: 400;
	color: $gray-light;
} 

$img-size: 2.5rem !default;

.project-header img {
	@extend .rounded-circle;
	width: $img-size;
	height: $img-size;
	border: $border-width solid $gray-light;
	background-color: $body-bg;
}

.project-header span {
	background-color: white;
	margin: 0.1rem $spacer-x*0.5 0.1rem 0;
}

.project-header a {
	padding-top: 0.5rem;
	display: inline-block;
}

span.small-caps {
	text-transform: uppercase;
	font-size: $font-size-sm;
}

span.divider {
	color: $gray-lighter;
	padding: 0 $spacer-x*0.5;
}

.project-header {
	@extend .mb-2;
	border-bottom: 1px solid $gray-lighter;
}

ul.badges {
	list-style: none;
	padding: 0;
	display: inline-block;
	margin: 0rem;
}

ul.badges > li {
	display: inline-block;
	padding-right: 0.75rem;
}
