<my-messages [messages]="messages"></my-messages>
<div *ngIf="task">
	<div class="project-header">
		<span class="pull-left">
		  <img src="assets/scheduled_tasks.png"/>
		</span>
		<a routerLink="/projects/{{task.project.id}}">{{task.project.name}}</a>
	</div>
	<div class="btn-toolbar pull-right">
		<div class="btn-group" role="group">
			<button type="submit" class="btn btn-outline-primary" *ngFor="let transition of availableTransitions()" (click)="performTransition(transition)">{{transition.label}}</button>
		</div>
		<div class="btn-group" role="group">
			<button class="btn btn-outline-primary" (click)="editTask()">
				<fa name="edit"></fa>
			</button>
			<button class="btn btn-outline-primary" (click)="deleteTask()">
				<fa name="trash"></fa>
			</button>
		</div>
	</div>
	<ul class="badges">
		<li><my-state-badge [state]="task.state"></my-state-badge>
		<li><my-priority-badge [priority]="task.priority"></my-priority-badge>
	</ul>
	<h1 class="page-header">{{task.summary}}</h1>
	<div>
		<my-tags *ngIf="task.tags && task.tags.length > 0" [tags]="task.tags"></my-tags>
	</div>
	<div class="readme">
		<h2><span>Notes</span></h2>
		<my-markdown-view [notes]="task.notes" (update)="updateNotes($event)"></my-markdown-view>
	</div>
</div>