.project-header {
	text-align: center;
	border-bottom: 1px solid #eee;
}

.project-header h1 {
}

.project-header ul {
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.project-header ul>li{
	display: inline-block;
	margin: 0px 10px;
}
