<div class="project-toolbar">
	<div class="btn-toobar pull-left">
		<div class="btn-group">
			<button type="button" class="btn btn-primary" (click)="newTask.emit()"><fa name="plus"></fa> New Task</button>
		</div>
	</div>
	<div class="btn-toobar pull-right">
		<div class="btn-group">
			<button type="button" class="btn btn-secondary" (click)="edit.emit()"><fa name="edit"></fa> Edit</button>
			<button type="button" class="btn btn-secondary" (click)="delete.emit()"><fa name="trash"></fa> Delete</button>
		</div>
	</div>
</div>
