.line-through {
	text-decoration: line-through;
}

ul.tags {
	list-style: none;
	padding: 0px 0px 10px 0px;
}

ul.tags > li {
	display: inline;
	padding: 0px 10px;
}

ul.tags > li:FIRST-CHILD {
	padding-left: 0px;
}
