<div class="task-summary list-group-item-heading">
  <a routerLink="/tasks/{{task.id}}">
    <span [class.line-through]="task.state == 'DONE'">{{task.summary}}</span>
  </a>
</div>
<div class="pull-left">
  <fa class="text-muted" name="clock-o"></fa>
  <span class="text-muted">{{isModified() ? 'Last modified' : 'Created'}}</span>
  <span class="text-muted">{{task.updated | amTimeAgo}}</span>
  <div style="display: inline-block; padding-bottom: 0; margin-left: 15px">
    <tags [tags]="task.tags"></tags>
  </div>
</div>
<div class="pull-right">
  <span class="text-muted"><fa name="warning"></fa> {{priorities[task.priority] | titlecase}}</span>
</div>
<div style="clear: both"></div>
