<div class="project-header" *ngIf="project">
	<div style="clear: both"></div>
	<h1>{{project.name}}</h1>
	<p class="lead">{{project.description}}</p>
	<ul>
		<li>
			<a routerLink="tasks">
				<fa name="check-square-o"></fa>
				<span class="open-tasks">{{project.tasks.open | pluralise:'open task'}}</span>
			</a>
		</li>
		<li>
			<!-- <a routerLink="notes"> -->
			<span class="text-muted">
				<fa name="file"></fa>
				<span id="notes">1 note</span>
			</span>
			<!-- </a> -->
		</li>
	</ul>
</div>
