<my-messages [messages]="messages"></my-messages>
<div *ngIf="project">
  <div class="btn-toolbar">
    <div class="btn-group mr-auto" data-toggle="buttons">
      <label *ngFor="let key of filterKeys" class="btn btn-outline-primary" [class.active]="key === activeFilter">
        <input type="radio" name="options" id="{{key}}" autocomplete="off" [checked]="key === activeFilter" (click)="applyFilter(key)">{{filters[key].label}}
      </label>
    </div>
    <div class="navbar-form ml-auto">
      <my-new-task-button (submit)="createTask($event)"></my-new-task-button>
    </div>
  </div>

  <div class="clearfix"></div>

  <my-task-list [tasks]="tasks"></my-task-list>
</div>
