<div class="list-group-item-heading">
    <span style="margin-right: 0.5rem">
      <my-state-badge [state]="task.state" mode="minimal"></my-state-badge>
    </span>
    <a class="task-summary" routerLink="/tasks/{{task.id}}">{{task.summary}}</a>
    <span class="pull-right">
      <my-priority-badge [priority]="task.priority"></my-priority-badge>
    </span>
</div>
<div class="pull-left">
  <ul class="item-details">
  <li *ngIf="task.tags.length">
    <my-tags [tags]="task.tags"></my-tags>
  </li>
  </ul>
</div>
<div class="pull-right">
  <span class="text-muted modification-time"><small>
    <span *ngIf="!isModified()">Created {{task.created | amTimeAgo}}</span>
    <span *ngIf="isModified()">Updated {{task.updated | amTimeAgo}}</span>
  </small></span>
</div>
<div style="clear: both"></div>
