<form name="form" (ngSubmit)="doSubmit()" #theForm="ngForm">
	<div class="modal-body">
		<!-- <messages messages="errors"></messages> -->
		<div class="form-group">
			<label for="summary" class="control-label">
				Summary
				<span [hidden]="summaryField.valid || !summaryField.touched" role="alert" class="text-danger">
					<!--
	    			<span [hidden]="summaryField.hasError('required')">(please enter a summary of the task)</span>
	    			<span [hidden]="summaryField.hasError('maxlength')">(may be no more than 255 characters long)</span>
				-->
    			</span>
			</label>
			<input [(ngModel)]="task.summary" class="form-control" type="text" autofocus required maxlength="255" id="taskSummary" name="summary" placeholder="My new task" #summaryField="ngModel">
		</div>
		<div class="form-group">
			<label for="description" class="control-label">Description</label>
			<textarea [(ngModel)]="task.description" rows="12" class="form-control" id="taskDescription" name="description" placeholder="A description of the task"></textarea>
		</div>
		<div class="form-group">
			<label for="tags" class="control-label">Tags</label>
			<div class="form-control tag-input">
				<tag-input [(ngModel)]="task.tags" name="tags" placeholder="Add another tag..." secondaryPlaceholder="Add a tag..." theme="minimal"></tag-input>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<label for="priority" class="control-label">Priority</label>
					<select [(ngModel)]="task.priority" class="form-control" id="taskPriority" name="priority">
						<option *ngFor="let p of priorities | values" [value]="p">{{priorities[p] | titlecase}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div>
			<button type="submit" class="btn btn-primary" [disabled]="!theForm.form.valid">Create</button>
			<button type="button" class="btn btn-default" (click)="cancel.emit()">Cancel</button>
		</div>
	</div>
</form>
