<my-messages [messages]="messages"></my-messages>
<div *ngIf="task">
	<my-project-header [project]="task.project"></my-project-header>
	<div class="row task-header">
		<div class="col-12">
			<div class="d-flex flex-row justify-content-between">
				<div>
					<my-state-badge [state]="task.state"></my-state-badge>
				</div>
				<div>
					<my-priority-badge [priority]="task.priority"></my-priority-badge>
				</div>
			</div>
			<div>
				<h1 class="page-header">{{task.summary}}</h1>
			</div>
			<div class="d-flex flex-row justify-content-between">
				<my-task-badges [task]="task"></my-task-badges>
				<div class="d-flex flex-column align-items-end justify-content-end">
					<div class="btn-toolbar mt-3 ml-4">
						<div class="btn-group mr-2" role="group">
							<button type="submit" class="btn btn-sm btn-primary" *ngFor="let transition of availableTransitions()" (click)="performTransition(transition)">{{transition.label}}</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-sm btn-outline-primary" (click)="editTask()">
								<fa name="edit"></fa> Edit
							</button>
							<button class="btn btn-sm btn-outline-primary" (click)="deleteTask()">
								<fa name="trash"></fa> Delete
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<my-notes title="Description" editable="true" [notes]="task.notes.raw" (update)="updateNotes($event)"></my-notes>
</div>
