<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <div class="container">
    <a class="navbar-brand" routerLink="/">myTasks</a>
    <nav class="nav navbar-nav float-xs-left">
      <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="nav-item nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      <a class="nav-item nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
    </nav>
    <nav class="nav navbar-nav float-xs-right">
      <form class="nav-item form-inline float-xs-left">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
      <a class="nav-item nav-link" *ngIf="showAdminOptions" title="Settings" href="/admin"><fa name="cog"></fa></a>
      <a class="nav-item nav-link" title="Profile" href="#"><fa name="user"></fa></a>
      <a class="nav-item nav-link" title="Help" href="#"><fa name="question-circle"></fa></a>
      <button *ngIf="!auth.authenticated()" class="nav-item nav-link" title="Login" (click)="login()"><fa name="sign-in"></fa></button>
      <button *ngIf="auth.authenticated()" class="nav-item nav-link" title="Logout" (click)="auth.logout()"><fa name="sign-out"></fa></button>
    </nav>
  </div>
</nav>
