<div *ngIf="project">
  <my-project-toolbar (edit)="editProject()" (delete)="deleteProject()" (newTask)="createTask($event)"></my-project-toolbar>
  <div class="project-header">
    <h1>{{project.name}}</h1>
    <p class="lead">{{project.description}}</p>
    <ul>
      <li>
        <a routerLink="../tasks" [queryParams]="{ filter: 'open' }">
          <fa name="check-square-o"></fa>
          <span class="open-tasks">{{project.tasks.open | pluralise:'open task'}}</span>
        </a>
      </li>
      <li>
        <!-- <a routerLink="notes"> -->
        <span class="text-muted">
          <fa name="file"></fa>
          <span id="notes">1 note</span>
        </span>
        <!-- </a> -->
      </li>
    </ul>
  </div>
	<my-notes editable="true" [notes]="project.notes.raw" (update)="updateNotes($event)"></my-notes>
</div>
