<my-messages [messages]="messages"></my-messages>
<div *ngIf="project">
  <div class="d-flex justify-content-center btn-toolbar">
    <div class="mr-auto">
    	<my-project-header [project]="project"></my-project-header>
    </div>
    <div class="d-flex ml-auto align-items-center navbar-form">
      <my-new-task-button (submit)="createTask($event)"></my-new-task-button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col d-flex align-items-start">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item" *ngFor="let key of filterKeys">
              <a class="nav-link btn-sm" [routerLink]="['.']" [queryParams]="{ filter: key }" routerLinkActive="active">{{filters[key].label}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-block">
      <my-task-list [tasks]="tasks"></my-task-list>
    </div>
  </div>
</div>
