@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

a.task-summary {
	color: $body-color;
}

a.task-summary.completed {
	text-decoration: line-through;
}

ul.inline-list {
	list-style: none;
	padding: 0px;
}

ul.inline-list > li {
	display: inline-block;
	padding: 0px 10px;
}

ul.inline-list > li:FIRST-CHILD {
	padding-left: 0px;
}

.list-group-item {
	padding-top: $spacer-y*0.5;
	padding-bottom: $spacer-y*0.5;
}

.line-through {
	text-decoration: line-through;
}

ul.tags {
	@extend ul.inline-list;
}

ul.item-details {
	@extend ul.inline-list;
}

.state {
  font-size: $small-font-size;
}

.state-in_progress {
  @extend .text-success;
}

.state-to_do {
  @extend .invisible;
}

.state-on_hold {
  @extend .text-warning;
}

.state-done {
  @extend .invisible;
}

.modification-time {
  @extend .small;
  color: #aaa;
}