<div class="modal-header">
	<h4 class="modal-title">Edit Notes</h4>
</div>
<form name="form" (ngSubmit)="doSubmit()" #theForm="ngForm">
	<div class="modal-body">
		<div class="form-group">
			<textarea [(ngModel)]="markdown" rows="20" class="form-control" id="markdown" name="markdown" placeholder="Add some notes."></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<div>
			<button type="submit" class="btn btn-primary" [disabled]="!theForm.form.valid">Save</button>
			<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
		</div>
	</div>
</form>
