@import '../../../node_modules/bootstrap/scss/_variables.scss';

.markdown {
	text-align: justify;
}

.edit {
	color: $black;
	opacity: 0.2;
	float: right;
	padding: 0;
	border: 0;
	background: none;
}

.edit:HOVER {
	color: $black;
	opacity: 1.0;
}

.placeholder {
	margin-top: $spacer;
	color: $text-muted;
}

// Markdown formatting - requires :host /deep/ because the inner HTML elements
// don't have the magic scoping attributes (http://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling).

:host /deep/ h1 {
	font-size: $font-size-h2;
	font-weight: 600;
}

:host /deep/ h2 {
	font-size: $font-size-h3;
}

:host /deep/ h3 {
	font-size: $font-size-h4;
}

:host /deep/ h4 {
	font-size: $font-size-h5;
}

:host /deep/ h5 {
	font-size: $font-size-h6;
}

:host /deep/ h6 {
	font-size: $font-size-h6;
	font-weight: 500;
	font-variant: small-caps;
	color: $gray-light;
}
